{%- comment -%}
Detail modal for one project.
  include.project  an entry from _data/projects.yml
  include.index    0-based position; must match the card's index
{%- endcomment -%}
{%- assign image = include.project.image | default: include.project.thumb -%}
<div class="portfolio-modal modal fade" id="portfolioModal{{ include.index | plus: 1 }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ include.project.title }}</h2>
                        <hr class="star-primary">
                        <img src="{{ image | relative_url }}" class="img-responsive img-centered" alt="{{ include.project.title }}">
                        <p>{{ include.project.description }}</p>
                        {%- if include.project.details %}
                        <ul class="list-inline item-details">
                            {%- for detail in include.project.details %}
                            <li>{{ detail.label }}:
                                <strong>{% if detail.url %}<a href="{{ detail.url }}">{{ detail.value }}</a>{% else %}{{ detail.value }}{% endif %}
                                </strong>
                            </li>
                            {%- endfor %}
                        </ul>
                        {%- endif %}
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
